html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.comet {
    color: orange;
    text-decoration: none;
}

.search-bar-form input {
    width: 50vw;
    margin: 1em;
    height: 1.5em;
    font-size: 1.2em;
    border-radius: .2em;
    box-shadow: none;
    border: 2px solid gray;
    padding: 1em;
}

.results-top-bar .results-title {
    font-size: 3rem;
    margin-top: .5rem;
    text-align: left;
    margin-left: 1rem;
}

.results-title *:hover {
    text-decoration: none;
}

.results-title *:not(.comet) {
    color: white;
}

.results-main {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
